/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary colors */
  --white: hsl(255, 100%, 100%);
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* Neutral colors */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  /* Hover color */
  --lavender: hsl(244, 81%, 68%);
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  background-color: var(--pale-blue);
}

@media screen and (min-width: 500px) {
  body {
    background: url("./../public/images/pattern-background-desktop.svg") no-repeat top left;
    background-size: 100%;
    background-color: var(--pale-blue);
  } 
}