/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary colors */
  --white: hsl(255, 100%, 100%);
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* Neutral colors */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  background-color: var(--pale-blue);
}

.card-container {
}

.card {
  margin: 10rem auto;
  width: 100px;
  height: 100px;
  background-color: var(--white);
  border-radius: 0.5rem;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}