/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary colors */
  --white: hsl(255, 100%, 100%);
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* Neutral colors */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  /* Hover color */
  --lavender: hsl(244, 81%, 68%);
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  background-color: var(--pale-blue);
}

.card {
  margin: 4.44rem 1.5rem;
  min-width: 20.44rem;
  background-color: var(--white);
  border-radius: 1.2rem;
  box-shadow: 3px 3px 30px var(--desaturated-blue);
}

.card--hero {
  width: 100%;
  border-radius: 1.2rem 1.2rem 0 0;
}

.card--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
}

.card--header {
  font-size: 1.4rem;
  font-weight: 900;
}

.card--description {
  font-size: 0.95rem;
  line-height: 1.6rem;
  text-align: center;
  padding: 1.2rem 0.5rem;
  color: var(--desaturated-blue);
}

.plan-container {
  display:flex;
  align-items: center;
  background-color: var(--very-pale-blue);
  border-radius: 0.8rem;
  width: 100%;
  padding: 0.9rem 0 0.9rem 1.1rem;
}

.price-container {
  padding: 0 2.8rem 0 1.3rem;
}

.price--title {
  font-size: 0.9rem;
  font-weight: 900;
}

.price--cost {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--desaturated-blue);
}

.price--link {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--bright-blue);
}

.payment-btn {
  width: 100%;
  padding: 1.05rem;
  margin: 1.6rem 0 1.5rem;
  border-radius: 0.8rem;
  border-style: none;
  background-color: var(--bright-blue);
  color: var(--white);
  font-size: 0.95rem;
  font-weight: 700;
  box-shadow: 3px 20px 10px var(--pale-blue);
}

.price--link:hover{
  text-decoration: none;
  color: var(--lavender);
}

.payment-btn:hover {
  background-color: var(--lavender);
}

.cancel {
  text-decoration: none;
  color: var(--desaturated-blue);
  font-size: 0.95rem;
  font-weight: 900;
}

.cancel:hover {
  color: black;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 374px) {
  .card {
    margin: 4.44rem auto;
  }
}

@media screen and (min-width: 500px) {
  body {
    background: url("./../public/images/pattern-background-desktop.svg") no-repeat top left;
    height: 100vh;
    background-color: var(--pale-blue);
  } 

  .card {
    margin: 5.81rem auto;
    width: 28.13rem;
  }

  .card--container {
    padding: 2.5rem 3rem 3rem 2.5rem;
  }

  .card--header {
    font-size: 1.8rem;
  }

  .card--description {
    font-size: 1rem;
  }

  .plan-container {
    padding: 1.5rem;
    justify-content: space-between;
  }

  .price-container {
    padding: 0 4.7rem 0 0;
  }

  .price--title {
    font-size: 1.03rem;
    padding-bottom: 0.3rem;
  }

  .price--cost {
    font-size: 1.05rem;
  }
  
  .price--link {
    font-size: 0.85rem;
  }

  .payment-btn {
    margin: 2rem 0;
  }
}